{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Pokedex, please login or sign up to contnue</h1>
<div id = 'login_pokedex' class = 'closed_pokedex'>
<div class ='login_pokedex'></div>
<div class = 'long_fold'></div>
<div class = 'line_one'></div>
<div class = 'line_two'></div>
<div class = 'line_three'></div>
<div class = 'top_fold'></div>
<div class = 'bottom_fold'></div>
<div class = 'camera'></div>
<div class = 'red_dot'></div>
<div class = 'yellow_dot'></div>
<div class = 'green_dot'></div>
<div class ='white_camera'></div>
<div class="arrow-right"></div>
</div>


<div class = 'login_div'>
<form action = '/login' method = 'POST'>
    {{form.hidden_tag()}}
    {% for item in form if item.widget.input_type != 'hidden' %}
    <p>{{item.label}}
    {{item}}
    {% for err in item.errors %}
    {{err}}
    {% endfor %}</p>
    {% endfor %}
    <button>Login</button>
</form>

</div>

<div class = 'signup_loginbuttn'>
<form action = '/signup'>
    <button>signup here</button>
</form>
</div>


{% endblock %}